@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700|Noto+Sans+SC:400,700|Overpass:400,700|Reem+Kufi|Roboto+Condensed:400,700|Roboto:400,700|Rubik:400,400i,700&subset=arabic,chinese-simplified,cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,latin-ext,vietnamese');

* {
    font-family:'Lato','Overpass','Roboto','Noto Sans JP','Rubik','Noto Sans SC','Reem Kufi', 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    text-size-adjust:100%;
}

.page {
    position: absolute; 
    width: 100%;
    height: 100%; 
}

.circleForAll {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fullscreen {
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.credit {
    color: aliceblue;
    bottom: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 1;
    display: block;
    width: 98%
}

.credit a:hover {
    text-decoration: underline;
}
.credit a {
    text-decoration: none; 
    text-decoration-color: aliceblue;
    color: aliceblue;
}

.credit > span, a {
    float: left;
}

.image {
    background-position: 50% 50%;
    background-size: cover;
    transition: opacity 0.25s ease-out;
    z-index: -4;
    overflow: visible ;
    opacity: 1;
}


.ownBody {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 2.5em;
    order:1;
    padding: 30px;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}
.nameNewHabit {
    max-height: 80px;
    order:2;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.newHabit {
    outline: none;
    text-align: center;
    font-weight: bold;
    border: 0px;
    resize: none;
    max-height: 85px;
    color: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: calc(22px + (28 - 22) * ((100vw - 310px) / (1100 - 310)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 310px)/(1100 - 310)));
    padding: 0px 20px;
    padding-top: 5px;
}


.days {
    order: 4;
    display: flex;
    justify-content: center;
}
#days {
    max-width: 329px; 
    margin-top: 20px;
}
.days_container {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-content: center; 
    justify-content: flex-start;
    margin-bottom: 40px;
}

.day_item {  
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px black solid;
    margin: 4px;
    margin-bottom: 15px; 
    page-break-inside: avoid;
    break-inside: avoid;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.week{
    font-size: 1em;
    height: 20px;
}
.offsetday {
    opacity: 0;
}

.rules {
    order: 3;
    font-size: 1.5em;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-content: center; 
    justify-content: center;
    font-weight: bold;
}
.rule {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px rgba(0, 0, 0, 0) solid;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#yourrules {
    flex-basis: 100%;
    text-align: center;
    border: 0px;
    width: auto;
    height: auto;
    margin-top: 8px;
    margin-bottom: 10px;

}
.textrule { 
    padding-top: 6px;
    font-size: 0.8em;
    opacity: 0.2;
}
h2 {
    border-radius: 10px/20px;
    font-size: 0.7em;
    text-align: center;
    order: 5;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3%;
    font-weight: normal;
}
aside{
    display: flex;
    flex-flow: row wrap;
    align-content: center; 
    justify-content: center;
    order: 5;
    margin-bottom: 40px;
    width: 100%;
}

#settings {
    margin-top: 0px;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    height: 45px;
    flex-basis: 95%;
    order:1;
    transition: all 0.32s linear;
    box-shadow:none;
}

#settings:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.forma{
    flex-basis: 95%;
    height: 50%;
    order: 2;
}
fieldset {
    border:0px;
    margin-top: 20px;
    transition: all 0.32s linear;
    padding:  0px 10px;
    position: relative;
}

.hidden {
    opacity: 0;
}

.open {
    opacity: 1;
}

.tempRemove {
  display:none
}

.tempAppear {
 display: block;
}

#whitesqer{
    height: 20px;
}

.openDate {
    height: 75px;
    margin-top: 20px;
}

label[for="date"] { 
    font-size: 1.1em;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.conteinerDate {
    margin-top: 15px;
    background:	rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    border: 1.3px solid rgba(255, 255, 255, 0);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -moz-border-radius-bottomright: 50px;
    position: absolute;
    bottom:0px;
    right: 0px;
    left: 0px;
    width: 100%;
}

input[type="date"] {
    background:	rgba(255, 255, 255, 0);
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    outline: none;
    border:  1.3px solid rgba(255, 255, 255, 0);
    font-size: 1em; 
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.conteinerDate:hover {
    border: 1.3px dimgray solid;
}

label[for="number"], h3 {
    font-size: 1.1em;
    width: 100%;
    font-weight: normal;
    margin-bottom: 10px;
}

p {
    font-size: 0.8em;
    width: 100%
}

.number {
    background:	rgba(255, 255, 255, 0.7);
    margin: 10px;
    margin-top: 0px;
    outline: none;
    font-weight: bold;
    text-align: center; 
    font-size: 1.1em;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1.3px solid rgba(255, 255, 255, 0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.number:hover {
    border: 1.3px	dimgray solid;
    transition: all 0.32s linear;
}

.invalidNumber {
    background-color: red;
}

.choicesView {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start; 
    justify-content: baseline;
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px;
}

label[for="Choice0"], label[for="Choice1"], label[for="Choice2"] {
    align-self: flex-end;
}

.alignLebel {
    display: flex;
}

input[type="radio"] {
    background:	rgba(255, 255, 255, 0.7);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1.3px solid dimgray;
    transition: 0.2s border linear;
    outline: none;
  
  }
  
input[type="radio"]:checked {
    border: 8px solid dimgray ;
  }
  
/*input[type=submit] {
    font-weight: bold;
    width: 100%;
    order:4;
    font-size: 1em;
    border: 2px;
    background: none;
    height: 50px;
    border-radius: 10px/20px;
    outline: none;
}
*/
footer {
    order: 6;
    background-color: white;
    color: black;
}
.credit {
    order: 7;
}



@media all and (max-width: 752px) {
    .ownBody {flex-direction: column; align-items: center; justify-content: center;}
    h1 {font-size: 2em; flex-basis: 5%;padding-top: 25px}
    .nameNewHabit { max-width: 310px; flex-basis: 10%;} 
    aside {flex-basis:10%}
    .days {flex-basis: 60%; margin-bottom: 10px;}
    footer {flex-basis: 2.5%; margin-bottom: 10px;}
    .credit {flex-basis: 2.5%; margin-bottom: 5px;}
    .textrule { padding: 5px; }
    .rules {flex-basis: 10%; font-size: 1.3em; flex-flow: row wrap; width: 95%;}
    .rule {margin-bottom: 5px;}
    .week {margin-bottom: 0px; height: 20px; }
    h1 { padding-top: 5px;}
    #yourrules {margin-bottom: 5px;}
    .newHabit {flex-basis: 100%; height: 65px}
    #yourrules {margin-top: 10px;}
    .nameNewHabit { margin-bottom: 20px}
}


@media screen  and (max-width: 752px) { 
    .day_item {width: 35px; height: 35px; margin:5px};
    .rule {width: 35px; height: 35px; margin:5px};
    #days {min-width: 315px; } /* для запрета переноса*/
    footer { border-radius: 10px/20px; 
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
        padding: 10px; width: 90%; }
    .week { height: 20px; margin-bottom: 10px };
}

@media all and (max-width: 334px) { 
    .day_item {width: 33px; height: 33px;}
    .rule {width: 33px; height: 33px;}
    #days {width: 315px;}
    .week {height: 20px;}
}

@media screen and (min-width: 753px) {
    .ownBody {flex-direction: row nowrap} 
    h1, aside { flex-basis: 100%}
    .nameNewHabit { flex-basis: 100%}
    aside { flex: 1 6 28%; }
    .rules { flex: 1 6 28%; }
    .days {flex: 3 1 44%;}
    .settings {flex-basis: 100%}
    footer { bottom: 20px; border-radius: 10px/20px;
        text-align: center; left: 0;  padding: 5px; 
        width: 20%; margin-left: 40%; margin-right: 40%; margin-bottom: 30px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
    }
    .credit {margin-bottom:  0px}
    .newHabit {flex-basis: 38%}
    #days {width: 315px ;}
}

@media print   {
    h1 {display: none;}
    .day_item,.rule {width: 30px; height: 30px; margin:5px}
    .week { margin-bottom: 10px; height: 20px; }
    aside, h2 {display: none;}
    .textrule {visibility: hidden;}
    footer {bottom: 0px; width: 100%; margin:0px; position: fixed;}
    .credit {display: none}
    .days_container { margin-top: 20px; margin-left: 17px; margin-bottom: 5px}
    #days {width: 315px ;}
    .nameNewHabit {margin-top:10px; max-width: 500px;;}
    .newHabit {font-size: 24px; height: 60px; padding: 5px;}
    .rules {padding-bottom: 10px;}
    #yourrules {margin-top: 5px; font-size: 0.8em;}
}

@media all and (min-height: 1300px) and (min-width: 753px) {
    footer {position: fixed; bottom: 5px;}
    .credit {position: fixed; bottom: 5px;};
}
@media screen  and (max-width: 1000px) and (min-height: 1000px){
    .openDate {height: 90px;}
}
